### Q1. What are the characterstics of the tuples? Is tuple immutable ?

Ans. A tuple is a collection of python objects seperated by commas. In someways tuple is similar to a list in terms of indexing, nested objects and repetition and Yes, tuples are immutable

Note** While generation a single element tuple a comma should be added after the element.

### Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why typles have only two in-built methods as compared to list?

Ans. The two in-built tuple methods in python are:
1. Count() - Returns the number of times a specified value occurs in a tuple
2. index() - Searches the tuple for a specified value and returns the position of where it was found

In [4]:
# Example for Count() method tuple
t = ( 1,2,3,4,5,6,7,4,5,6,8,7,4,5,4,4,4 )
# Here t.count(4) will return the number of times 4 occurs in the tuple that is 6 times
t.count(4)

6

In [6]:
# Example for index() method tuple
t1 = ( 1,2,3,4,5,6,7,4,5,6,8,7,4,5,4,4,4 )
# Here t.index(4) will return the position value where the 4 if found in the tuple for the first time
t.index(4)

3

Tuple have only two in-built functions, this is because methods that can add or remove items are not availabe in tuple. Since tuple() is immutable, and therefore it doesn't change after the initial assigning of items. Whereas List in python are mutable and the items within the list can be reassigned as per the need.

### Q3. Which collection datatypes in python do not allow duplicate items? Write a code using set to remove duplicates from the given list.

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Ans. The set() datatype in python don't allow duplicate items.

In [8]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(List)

{1, 2, 3, 4}

In [9]:
# We can also save new set in some variable and reuse it again when needed
new_set = set(List)
print(new_set)

{1, 2, 3, 4}

### Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

Ans. Union() and Update() in set gives the union of one or more set. The only difference those two has is Union() creates the output as completely new set containing distinct elements which can be saved to other variable and doesn't affects the two sets over which the union() was called. Whereas Update() method updates the set on which this method is called with all the distinct elements present in iterables.

In [15]:
# Example for union() method in set
set_a = { 1,2,3,4 }
set_b = { 3,4,5,6,7,8 }

print("Union_set: ",set_a.union(set_b))
# set_a isn't updated as union() method was used
print('Set_a: ',set_a)
print('Set_b: ',set_b)

Union_set:  {1, 2, 3, 4, 5, 6, 7, 8}
Set_a:  {1, 2, 3, 4}
Set_b:  {3, 4, 5, 6, 7, 8}

In [16]:
# Example for update() method in set
set_a = { 1,2,3,4 }
set_b = { 3,4,5,6,7,8 }

print("Update_set: ",set_a.update(set_b))
# Here set_a is updated as update() method was called over set_a
print('Set_a: ',set_a)
print('Set_b: ',set_b)

Update_set:  None
Set_a:  {1, 2, 3, 4, 5, 6, 7, 8}
Set_b:  {3, 4, 5, 6, 7, 8}

### Q5. What is dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Ans. Dictionary is one of the four data structure in python. Dict stores data in {key:value} pairs where key can only contain unique data and values can contain duplicated.
Dictionary is ordered from python3.7 onwards before python3.6 the dictionary was unordered.

In [18]:
# Example for Dictionary
dict_1 = { 'name':'Ash', 'city':'Del', 'Contact_number': 987654321 }
# In the above di
print(dict_1)

{'name': 'Ash', 'city': 'Del', 'Contact_number': 987654321}

In [26]:
# Example for Dictionary
dict_1 = { 'name':'Ash', 'city':'Del', 'Contact_number': 987654321 }
print(dict_1)
print(dict_1.keys())
print(dict_1.values())

{'name': 'Ash', 'city': 'Del', 'Contact_number': 987654321}
dict_keys(['name', 'city', 'Contact_number'])
dict_values(['Ash', 'Del', 987654321])

### Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Ans. Yes, We can create a nested dictionary in key value pair where key is unique and value has the data in the form of key and value pairs. This way we can create n number of nested dict in python.

In [1]:
# Example for nested dictionary
dict_2 = { 'name':'Ash', 'city':'Del', 'Contact_number': 987654321 }
dict_2['course_content'] = { 'prog_lang':'python', 'query_lang':'Sql', 'BI_tools':'Power BI' }

In [8]:
print(dict_2)

{'name': 'Ash', 'city': 'Del', 'Contact_number': 987654321, 'course_content': {'prog_lang': 'python', 'query_lang': 'Sql', 'BI_tools': 'Power BI'}}

### Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list 

['Python', 'Machine Learningâ€™, 'Deep Learning']

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [19]:
# python Dict using setdeault() method
lst_a = ['Python', 'Machine Learning', 'Deep Learning' ]
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

dict1.setdefault('topics', lst_a)

['Python', 'Machine Learning', 'Deep Learning']

In [20]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

### Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Ans. The three view objects method in python dictionary are:
1. items() - This method displays the key,value pair in the form of list
2. keys() - This method displays all the keys within a dictionary in the form of list
3. values() - This method displays all the values within a dictionary in the form of list

In [21]:
# Example for all three view methods in dictionary
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [22]:
# items() method
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [23]:
# keys() method
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [25]:
# values() method
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])