### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

Difference between SQL and NOSQL DB:
- Databases which uses SQL are relation databases and are managed by relation database management system (RDBMS). whereas NQSQL databases are non-relational databases system.
- SQL databases have fixed/Predefined schema and Nosql databases have no predefined schema.
- SQL databases are not suited for herarchical data storage, whereas NOSQL databases are best suited for hierarchical storage.
- SQL databases are best suited for complex queries and NOSQL databases are not best for complex queries.
- SQL databases follow ACID properties. NOSQL databases follows CAP theorm (Consistency, availability, partition tolerance)
- Example for SQL DB: MySql, PostgresSQL, Oracle, MS-SQL
- Example for NOSQL DB: MongoDB, HBase, Cassandra, New4j

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database.
1. Create: Create is used to create new Databases and tables within the RDBMS System.
2. Drop: This command is used to delete objects from the database.
3. Alter: This is used to make changes within the tables in a RDBMS system.
4. Truncate: This is used to remove all records from a table, including all spaces allocated for the records are removed.

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

# # Create for creating new DB 'pwskills'
mycursor.execute("CREATE DATABASE if not exists pwskills")

# # Create Table to create test_mentor in pwskills DB
mycursor.execute('''CREATE TABLE if not exists pwskills.test_mentor(
    id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    gender char(1),
    age INT
)''')

# # Alter table to add a new column
mycursor.execute("ALTER TABLE pwskills.test_mentor ADD course_id INT")

# # Insert to add data into the Table test_mentor
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0001, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0002, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0003, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0004, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0005, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0006, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0007, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mydb.commit()

# retrieve the content of table
mycursor.execute('''SELECT * FROM pwskills.test_mentor''')
for i in mycursor:
    print(i)

# Truncate to delete the test_mentor table content
mycursor.execute('''TRUNCATE TABLE pwskills.test_mentor''')

# retrieve the content of table 
# This will return blank after truncate is done
mycursor.execute('''SELECT * FROM pwskills.test_mentor''')
for i in mycursor:
    print(i)

# Drop to delete the test_mentor table in DB pwskills
mycursor.execute('''DROP TABLE pwskills.test_mentor''')

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML: The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements.
1. Insert: It is used to insert data into a table.
2. Update: It is used to update existing data within a table.
3. Delete: It is used to delete records from a database table.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

# # Create for creating new DB 'pwskills'
mycursor.execute("CREATE DATABASE if not exists pwskills")

# # Create Table to create test_mentor in pwskills DB
mycursor.execute('''CREATE TABLE if not exists pwskills.test_mentor(
    id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    gender char(1),
    age INT,
    course_id INT
)''')

# # Insert to add data into the Table test_mentor
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0001, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0002, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0003, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0004, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0005, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0006, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0007, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mydb.commit()

# retrieve the content of table
mycursor.execute('''SELECT * FROM pwskills.test_mentor''')
for i in mycursor:
    print(i)

# Deletes the record which id defined in where clause
mycursor.execute('''DELETE FROM pwskills.test_mentor WHERE id = 3''')

# Updates the record in the table
mycursor.execute('''UPDATE pwskills.test_mentor SET id = 999 WHERE id = 6''')

# retrieve the content of table
mycursor.execute('''SELECT * FROM pwskills.test_mentor''')
for i in mycursor:
    print(i)

### Q4. What is DQL? Explain SELECT with an example.

Ans. The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.
- Select: It is used to retrieve records from the tables within a Database.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

# # Create for creating new DB 'pwskills'
mycursor.execute("CREATE DATABASE if not exists pwskills")

# # Create Table to create test_mentor in pwskills DB
mycursor.execute('''CREATE TABLE if not exists pwskills.test_mentor(
    id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    gender char(1),
    age INT,
    course_id INT
)''')

# # Insert to add data into the Table test_mentor
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0001, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0002, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0003, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0004, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0005, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0006, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mycursor.execute('''INSERT INTO pwskills.test_mentor VALUES (0007, 'Sudh', 'Kumar', 'M', 30, 325827263)''')
mydb.commit()

# retrieve the content of table
mycursor.execute('''SELECT * FROM pwskills.test_mentor''')
for i in mycursor:
    print(i)

### Q5. Explain Primary Key and Foreign Key.

Ans. 
- Primary Key: The PRIMARY KEY constraint uniquely identifies each record in a table. Primary key must contain UNIQUE values and cannot contain NULL values. A table can have only one primary key and in the table the primary key can consist of single or multiple fields(Columns).

- Foreign Key: The FOREIGN KEY constraint is used to prevent actions that would destroy links between tables. A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table. The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# python code to connect mysql to python
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

1. cursor(): It is an object that is used to make the connection for executing SQL queries. It acts as middleware between SQLite database connection and SQL query. It is created after giving connection to SQLite database. A cursor keeps track of the position in the result set, and allows you to perform multiple operations row by row against a result set, with or without returning to the original table. In other words, cursors conceptually return a result set based on tables within the databases. The cursor is so named because it indicates the current position in the result set, just as the cursor on a computer screen indicates current position.

Using cursors, we can:
- Specify positioning at specific rows in the result set.
- Retrieve one row or a block of rows based on the current result set position.
- Modify data in the rows at the current position in the result set.
- Define different levels of sensitivity to data changes made by other users.

2. Execute(): The execute () method helps to execute the query and return records according to the query.

### Q7. Give the order of execution of SQL clauses in an SQL query.

Ans.
1. from: Choose and join tables to get base data.
2. where: Filters the base data.
3. group by: Aggregates the base data.
4. having: Filters the aggregated data.
5. select: Returns the final data.
6. order by: Sorts the final data.
7. limit/Offset: Limits the returned data to a row count.