### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans. MongoDB is an open source NoSQL database management program. NoSQL is used as an alternative to traditional relational databases. NoSQL databases are quite useful for working with large sets of distributed data. MongoDB is a tool that can manage document-oriented information, store or retrieve information.

NoSQL databases like MongoDB are a good choice when your data is document-centric and doesnâ€™t fit well into the schema of a relational database, when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases.
- Documents hold semistructured data, usually represented in a format like JSON or XML, and each document is associated with a unique key.
- Key values are typically a path or a URI that can be used to retrieve the associated document from the database.
- The keys are indexed, making it efficient to retrieve the associated documents.

### Q2. State and Explain the features of MongoDB.

Ans. 
1. Support ad hoc queries: In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing: You can index any field in a document.

3. Replication: MongoDB supports Master Slave replication. A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data: MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing: It has an automatic load balancing configuration because of data placed in shards.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [4]:
import pymongo

# connect to mongoDB using python
mongo_client = pymongo.MongoClient("mongodb+srv://ashkj:QIlxQfzkCnLUEu7B@datasciencelearning.6ncm2vq.mongodb.net/?retryWrites=true&w=majority")

#creating testDB
test_db = mongo_client['testDB']

# creaing Colletion in testDB
test_collection = test_db['TestCollection']

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record

In [21]:
dict1 = {
'name': 'Ash',
'age': 23,
'loc': 'DEL'
}

dict2 = [{'name': 'Ash'}, {'age': 23}, {'loc': 'DEL'}]

# insertone to insert one record at a time
test_collection.insert_one(dict1)

# insertmany to insert multiple records at once
test_collection.insert_many(dict2)

In [18]:
# findone to print the very first record in the collection
test_collection.find_one()

{'_id': ObjectId('63f371790e801b1833c53722'),
 'name': 'Ash',
 'age': 23,
 'loc': 'DEL'}

In [20]:
# find to print all the records in the collection
result = test_collection.find()
for i in result:
    print(i)

{'_id': ObjectId('63f371790e801b1833c53722'), 'name': 'Ash', 'age': 23, 'loc': 'DEL'}
{'_id': ObjectId('63f371b10e801b1833c53724'), 'name': 'Ash', 'age': 23, 'loc': 'DEL'}
{'_id': ObjectId('63f372630e801b1833c53725'), 'name': 'Ash'}
{'_id': ObjectId('63f372630e801b1833c53726'), 'age': 23}
{'_id': ObjectId('63f372630e801b1833c53727'), 'loc': 'DEL'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this

Ans. In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documnents. Cursor means a pointer the points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one. If we want to return a pointer on all documents then use empty() parameter that returns all documents one by one. It takes only some optional parameters. The first optional parameter is the selection criteria on which we want to return a cursor. To return all documents in a collection use empty document({}). Using this method you can also replace embedded documents.

Optional Prameters in find() method:
- selection_criteria: It specifies selection criteria. To return all documents in a collection use empty document({}). The type of this parameter is document.
- projection: It specifies the fields to return in the documents that match the selection criteria. To return all fields in the matching documents, remove this parameter. It is of the document type.
- options: It specifies some additional options for the selection_criteria parameter. It modifies the behavior of selection_criteria and also affects the results that will be returned.

In [9]:
test_db1 = mongo_client['pwskills']

data = { 'name': 'Blake', 'age': 19, 'course': 'Data Science Masters', 'platform': 'PWSkills' }

test_collection = test_db1['TestCollection']

test_collection.insert_one(data)

In [10]:
# to get records based on certain criteria
for i in test_collection.find({'name': 'Sudh'}):
    print(i)

{'_id': ObjectId('63f3bb410e801b1833c5372f'), 'name': 'Sudh', 'age': 23, 'course': 'Data Science Masters', 'platform': 'PWSkills'}

In [11]:
# to get all the records of a collection
for i in test_collection.find():
    print(i)

{'_id': ObjectId('63f3bb410e801b1833c5372f'), 'name': 'Sudh', 'age': 23, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bcf60e801b1833c53730'), 'name': 'Krish', 'age': 30, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bd000e801b1833c53731'), 'name': 'Ash', 'age': 24, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bd0c0e801b1833c53732'), 'name': 'Dep', 'age': 20, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f44a5776e49fc0e707c553'), 'name': 'Blake', 'age': 19, 'course': 'Data Science Masters', 'platform': 'PWSkills'}

In [12]:
# to get records based on certain criteria
for i in test_collection.find({ 'age': {'$lte': 25} }):
    print(i)

{'_id': ObjectId('63f3bb410e801b1833c5372f'), 'name': 'Sudh', 'age': 23, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bd000e801b1833c53731'), 'name': 'Ash', 'age': 24, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bd0c0e801b1833c53732'), 'name': 'Dep', 'age': 20, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f44a5776e49fc0e707c553'), 'name': 'Blake', 'age': 19, 'course': 'Data Science Masters', 'platform': 'PWSkills'}

In [13]:
# to get records based on certain criteria
for i in test_collection.find({ 'age': {'$gt': 25} }):
    print(i)

{'_id': ObjectId('63f3bcf60e801b1833c53730'), 'name': 'Krish', 'age': 30, 'course': 'Data Science Masters', 'platform': 'PWSkills'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans. The sort() method specifies the order in which the query returns the matching documents from the given collection. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively. 
- If a sort returns the same result every time we perform on same data, then such type of sort is known as a stable sort. 
- If a sort returns a different result every time we perform on same data, then such type of sort is known as unstable sort.
- MongoDB generally performs a stable sort unless sorting on a field that holds duplicate values.  
- We can use limit() method with sort() method, it will return first m documents, where m is the given limit.
- MongoDB can find the result of the sort operation using indexes.
- If MongoDB does not find sort order using index scanning, then it uses top-k sort algorithm.

In [30]:
# example for sort() method 
for i in test_collection.find().sort('age', 1): # ascending order
    print(i)

{'_id': ObjectId('63f44a5776e49fc0e707c553'), 'name': 'Blake', 'age': 19, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bd0c0e801b1833c53732'), 'name': 'Dep', 'age': 20, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bb410e801b1833c5372f'), 'name': 'Sudh', 'age': 23, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bd000e801b1833c53731'), 'name': 'Ash', 'age': 24, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bcf60e801b1833c53730'), 'name': 'Krish', 'age': 30, 'course': 'Data Science Masters', 'platform': 'PWSkills'}

In [32]:
# example for sort() method 
for i in test_collection.find().sort('age', -1): # descending order
    print(i)

{'_id': ObjectId('63f3bcf60e801b1833c53730'), 'name': 'Krish', 'age': 30, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bd000e801b1833c53731'), 'name': 'Ash', 'age': 24, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bb410e801b1833c5372f'), 'name': 'Sudh', 'age': 23, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f3bd0c0e801b1833c53732'), 'name': 'Dep', 'age': 20, 'course': 'Data Science Masters', 'platform': 'PWSkills'}
{'_id': ObjectId('63f44a5776e49fc0e707c553'), 'name': 'Blake', 'age': 19, 'course': 'Data Science Masters', 'platform': 'PWSkills'}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans. 
- delete_one(): A single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted.
- delete_many(): It is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().
- drop(): Using drop() we can delete the complete collection of documents at once.