### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

lst = [4, 8, 15, 16, 23, 42]
panda_series = pd.Series(lst)
print(panda_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

lst1 = [i for i in range(1,11)]
pd_series = pd.Series(lst1)
print(pd_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

In [45]:
import pandas as pd

data =  {
        "Name": ["Alice",  "Bob", "Claire"],
        "Age": [25, 30, 27],
        "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns whereas series is always a 1d array or a single column for any specific data frame. Series elements must be of the same data type.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [54]:
# Answer
# Using the dataframe created in Q3

'''head()  or tail() can be used to read records from the dataframe head returns the records from the top and tails returns the data from the botton'''
top_row = df.head(1)
print("Head:\n", top_row, "\n")
bottom_row = df.tail(1)
print("Tail:\n", bottom_row, "\n")

Head:
     Name  Age  Gender
0  Alice   25  Female

Tail:
      Name  Age  Gender
2  Claire   27  Female

In [56]:
'''shape returns the no. of rows and columns enclosed in a tuple'''
sp = df.shape
print( "Shape:", sp, "\n" )

Shape: (3, 3)

In [57]:
'''Summary of Statistics of DataFrame using describe() method'''
sumry = df.describe()
print("Describe:\n", sumry, "\n")

Describe:
              Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [59]:
'''Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe'''
df1 = pd.read_csv("services.csv")
# print(df1)
df_dropped = df1.dropna()
print("dropna():\n",df_dropped, "\n")

df_dropped = df1.dropna(axis=1) # This will drop all the columns with any missing values.
print("dropna(axis = 1)\n",df_dropped)

dropna():
 Empty DataFrame
Columns: [id, location_id, program_id, accepted_payments, alternate_name, application_process, audience, description, eligibility, email, fees, funding_sources, interpretation_services, keywords, languages, name, required_documents, service_areas, status, wait_time, website, taxonomy_ids]
Index: []

[0 rows x 22 columns]

dropna(axis = 1)
     id  location_id                                application_process  \
0    1            1                         Walk in or apply by phone.
1    2            2                 Apply by phone for an appointment.
2    3            3        Phone for information (403-4300 Ext. 4322).
3    4            4                                    Apply by phone.
4    5            5                             Phone for information.
5    6            6  Walk in or apply by phone for membership appli...
6    7            7  Apply by phone or be referred by a doctor, soc...
7    8            8                                    Apply by phone.
8    9            9  Walk in. Proof of residency in California requ...
9   10           10  Walk in. Proof of California residency to rece...
10  11           11  Walk in. Proof of California residency require...
11  12           12  Walk in or apply by phone, email or webpage re...
12  13           13  Walk in. Proof of California residency require...
13  14           14  Call for appointment. Referral from human serv...
14  15           15          Walk in or through other agency referral.
15  16           16  Walk in. Written application, identification r...
16  17           17                              Call for information.
17  18           18  Call for screening appointment. Medical visits...
18  19           19     Call for screening appointment (650-347-3648).
19  20           20                                           Walk in.
20  21           21                    By phone during business hours.
21  22           22                  Walk in or apply by phone or mail
22  23           22                  Walk in or apply by phone or mail

                                          description  \
0   A walk-in center for older adults that provide...
1   Provides training and job placement to eligibl...
2   Offers supportive counseling services to San M...
3   Provides supervised visitation services and a ...
4   Provides fixed 8% short term loans to eligible...
5   A multipurpose center offering a wide variety ...
6   Rosener House is a day center for older adults...
7   Delivers a hot meal to the home of persons age...
8   Provides general reading material, including b...
9   Provides general reading and media materials, ...
10  Provides general reading materials, including ...
11  Offers an intergenerational literacy program f...
12  Provides general reading materials, including ...
13  Provides food, clothing, bus tokens and shelte...
14  Provides a long-term (6-12 month) residential ...
15  Provides emergency assistance including food a...
16  Provides emergency food, clothing and furnitur...
17  By appointment only, Project Smile provides a ...
18  Provides free medical and dental care to those...
19              no unrequired fields for this service
20                                just a test service
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...

                                    name    status
0        Fair Oaks Adult Activity Center    active
1       Second Career Employment Program    active
2                 Senior Peer Counseling    active
3               Family Visitation Center    active
4      Economic Self-Sufficiency Program    active
5   Little House Recreational Activities    active
6       Rosener House Adult Day Services    active
7         Meals on Wheels - South County    active
8                       Fair Oaks Branch    active
9                           Main Library    active
10                       Schaberg Branch    active
11                          Project Read    active
12                 Redwood Shores Branch    active
13                    Redwood City Corps    active
14           Adult Rehabilitation Center    active
15                       Sunnyvale Corps    active
16     South San Francisco Citadel Corps    active
17                         Project Smile    active
18         San Mateo Free Medical Clinic    active
19             Service with blank fields   defunct
20       Service for Admin Test Location  inactive
21                       Passport Photos    active
22                  Example Service Name    active

In [60]:
'''Merging DataFrames using merge(), arguments passed are the dataframes to be merged along with the column name'''
data2 = {
        "Name": ["Alice",  "Bob", "Claire",],
        "Course": ["Data Science", "Data Science", "Data Science"]
}
df2 = pd.DataFrame(data2)
merge_cols = pd.merge(df, df2, on="Name")
# An additional argument ‘on’ is the name of the common column, here ‘Name’ is the common column given to the merge() function. 
# df is the first dataframe & df2 is the second dataframe that is to be merged
print("Merged Columns: \n", merge_cols, "\n")

Merged Columns:
      Name  Age  Gender        Course
0   Alice   25  Female  Data Science
1     Bob   30    Male  Data Science
2  Claire   27  Female  Data Science

In [61]:
'''Renaming the columns of dataframe using rename(), arguments passed are the columns to be renamed & inplace'''
renmed_df2 = df2.rename(columns = {"Name": "Student_name", "Course": "Enrolled_Courses"}, inplace=False) #The code ‘inplace = False’ means the result would be stored in a new DataFrame instead of the original one.
print("renamed_df2\n", renmed_df2, "\n")

renamed_df2
   Student_name Enrolled_Courses
0        Alice     Data Science
1          Bob     Data Science
2       Claire     Data Science

In [62]:
'''Sorting the DataFrame using sort_values() method'''
sorted_df2 = merge_cols.sort_values(by=['Age'], ascending=False)
print("Sorted_df2\n", sorted_df2, "\n")

Sorted_df2
      Name  Age  Gender        Course
1     Bob   30    Male  Data Science
2  Claire   27  Female  Data Science
0   Alice   25  Female  Data Science

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans. All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [83]:
name = ["Alice",  "Bob", "Claire"]
age = [25, 30, 27]
gender = ["Female", "Male", "Female"]

s1 = pd.Series(name)
s2 = pd.Series(age)
s3 = pd.Series(gender)

df_from_series = pd.concat([s1,s2,s3], axis=1)
print(df_from_series)

        0   1       2
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female